<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<form method="post" th:object="${editIssueBindingModel}" th:fragment="edit-form">
    <div class="form-group">
        <label class="form-control-label" for="nameId">Name</label>
        <input type="text" class="form-control" id="nameId" aria-describedby="nameHelp" th:field="*{name}"/>
        <div id="nameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('name')}" th:text="${error}">Error Message</div>
    </div>

    <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-danger'" >
        <label class="form-control-label" for="desc">Description</label>
        <textarea type="text" class="form-control" id="desc" aria-describedby="descHelp" th:field="*{description}"/>
        <div id="descHelp" class="form-control-feedback" th:each="error : ${#fields.errors('description')}" th:text="${error}">Error Message</div>
    </div>

    <div class="form-group">
        <label for="exampleSelect1">Status</label>
        <select class="form-control" id="exampleSelect1" th:field="*{status}">
            <option th:each="status : ${statuses}" th:value="${status}" th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(status, '_', ' ')))}">1</option>
        </select>
    </div>


    <fieldset class="form-group" th:classappend="${#fields.hasErrors('severity')} ?'has-danger'">
        <legend>Choose severity</legend>
        <div class="form-check" th:each="severity : ${severities}">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" checked="true" th:value="${severity}" th:text="| ${#strings.capitalize(#strings.toLowerCase(severity))} |" th:field="*{severity}" />
            </label>
        </div>
        <div id="statHelp" class="form-control-feedback" th:each="error : ${#fields.errors('severity')}" th:text="${error}">Error Message</div>
    </fieldset>


    <div class="form-group">
        <label for="exampleSelect1">Issue type</label>
        <select class="form-control" id="issueType" th:field="*{issueType}">
            <option th:each="issueType : ${issueTypes}" th:value="${issueType}" th:text="| ${#strings.capitalize(#strings.toLowerCase(issueType))} |">1</option>
        </select>
    </div>

    <div class="form-group">
        <label for="filter">Assign to:</label>
        <select multiple="false" class="form-control" id="filter" name="filter" th:field="*{assignedTo}">
            <option href="" th:each="user : ${devUsers}" th:value="${user.getId()}" th:text="${user.getUsername()}">1</option>
        </select>
    </div>

    <button type="submit" class="btn btn-default">Edit</button>
    <ul>
        <li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
    </ul>
</form>

</body>
</html>