<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:replace="fragments/menu::menu"></nav>
<br/>
<div class="container">
    <h1>Register Page</h1>
    <form method="post" th:object="${registrationModel}">
        <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-danger'">
            <label class="form-control-label" for="inputUsername">Username</label>
            <input type="text" class="form-control form-control-danger" id="inputUsername" th:field="*{username}"/>
            <div class="form-control-feedback" th:each="error : ${#fields.errors('username')}" th:text="${error}">Sorry, that username's taken. Try another?</div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-danger'">
            <label class="form-control-label" for="inputPassword">Password</label>
            <input type="password" class="form-control form-control-danger" id="inputPassword" th:field="*{password}"/>
            <div class="form-control-feedback" th:each="error : ${#fields.errors('password')}" th:text="${error}">Sorry, that username's taken. Try another?</div>
        </div>
        <div class="form-group" th:classappend="${passwordsNotMatching != null} ? 'has-danger'">
            <label class="form-control-label" for="inputConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control form-control-danger" id="inputConfirmPassword" th:field="*{confirmPassword}"/>
            <div class="form-control-feedback" th:if="${passwordsNotMatching != null}" th:text="${passwordsNotMatching}">Sorry, that username's taken. Try another?</div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('fullName')} ? 'has-danger'">
            <label class="form-control-label" for="inputFullName">Full name</label>
            <input type="text" class="form-control form-control-danger" id="inputFullName" th:field="*{fullName}"/>
            <div class="form-control-feedback" th:each="error : ${#fields.errors('fullName')}" th:text="${error}">Error message</div>
        </div>

        <fieldset class="form-group" th:classappend="${#fields.hasErrors('company')}? 'has-danger'">
            <legend>Choose a company</legend>
            <div class="form-check" th:each="company,iter : ${companies}">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="optionsCompanies" th:value="${company.getId()}" th:field="*{company}"/>
                    <span th:text="${company.getName()}"></span>
                </label>
            </div>
            <small id="companyHelp" class="form-control-feedback" th:each="error : ${#fields.errors('company')}" th:text="${error}">Error Message</small>
        </fieldset>

        <fieldset class="form-group" th:classappend="${#fields.hasErrors('role')}? 'has-danger'">
            <legend>Choose Roles</legend>
            <div class="form-check" th:each="role,iter : ${roles}">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="optionsRadios1" th:value="${role.toString()}" th:field="*{role}"/>
                    <span th:text="${role.toString()}"></span>
                </label>
            </div>
            <small id="toHelp" class="form-control-feedback" th:each="error : ${#fields.errors('role')}" th:text="${error}">Error Message</small>
        </fieldset>

        <input type="submit" class="btn btn-primary"/>
    </form>
</div>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>